@{
    PageData["title"] = "AngularJS SPA | Reset Password";
}

<div class="container">
    <div class="row clearfix">
        <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="alert alert-success" role="alert" ng-show="ResetMessage"> Se ha reseteado la contraseña de tu cuenta.</div>
            <h2 class="text-center">Reset Password</h2>
            <div class="form-box">
                <div class="form-group">
                    <input ng-model="user.DisplayName" type="text" class="form-control" placeholder="Nombre de Usuario" />
                    <input ng-model="user.Password" type="password" class="form-control" placeholder="Password Nuevo" />
                    <input ng-model="ConfirmPassword" type="password" class="form-control" placeholder="Confirmacion Password Nuevo" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Resetear Contraseña" class="btn btn-primary btn-block btn-lg" ng-click="resetpassword()">
                    <a class="btn btn-primary btn-block btn-lg" href="/login"> Regresar A Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
